<!DOCTYPE html>
<html>
<head>
    <title>Website Displaying Linear Equation</title>
    <style>
    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(231, 203, 230);          
        margin: 100px auto;   
        text-align: center;   
        padding: 20px;
        border-radius: 8px;
    }
    </style>
</head>
<body>
    <h1>Website Displaying a Liner Equation</h1>
    <p>Equation: y=5x+7</p>
    <p>Value x=-2</p>
    <p>Total: y = 5*(-2)+7 =-3</p>
</body>
</html>
