<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Visit Counter</title>
        <style>
            body {
                background-color: burlywood;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
            h1 {
                text-align: center;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Visit Count: {{ count }}</h1>
    </body>
</html>