<!DOCTYPE html>
<html>
    <head>
        <title>Displaying Student Information</title>
    </head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <body>
        <h1>Displaying Student Information</h1>
        <table style ="width: 100%">
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Academic Year</th>
                <th>Major</th>
                <th>Hobbies</th>
            </tr>
            <tr>
                <td>Wolf</td>
                <td>2374802013554</td>
                <td>2</td>
                <td>IT</td>
                <td>Play game, listen to music</td>
            </tr>
        </table>
    </body>
    
</html>
