<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Student</title>
    </head>
    <body>
        <h1>List of student</h1>
        <a hraf="/add">Them sinh vien</a>
        <hr>
        <ol>
            {% for student in students %}
                <li class="student-item">
                    <span class="student-info">
                        {{loop.index}}. {{ student.name }} - {{ student.age }} age - {{ student.major }}
                    </span>
                    <div class="action">
                        <a href="/delete/{{ student._id }}"><button class="delete-btn">Delete</button></a>
                        <a href="/edit/{{ student._id }}"><button class="edit-btn">Edit</button></a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </body>
</html>